<?xml version="1.0" encoding="UTF-8"?>
<root>
	<category name="mode">
		<mode>
			<autocapcha>Yes</autocapcha>
		</mode>
	</category>
	<category name="coins">
		<coin>50 років Світовому конгресу українців</coin>
		<coin>85 років Донецькій област</coin>
	</category>
	<category name="users">
		<!--<user>-->
			<!--<login>fdagr</login>-->
			<!--<password>Ra_16da0109</password>-->
			<!--<region>Відділ грошового обігу в Рівненській обл.</region>-->
		<!--</user>-->
		<user>
			<login>sadan</login>
			<password>Ra_16da0109</password>
			<region>Відділ грошового обігу в Дніпропетровській області</region>
			<region>Відділ грошового обігу в Житомирській обл.</region>
			<region>Відділ грошового обігу в Харківській області</region>
		</user>
		<user>
			<login>sadan</login>
			<password>Ra_16da0109</password>
			<region>Відділ грошового обігу в Дніпропетровській області</region>
			<region>Відділ грошового обігу в Житомирській обл.</region>
			<region>Відділ грошового обігу в Закарпатській обл.</region>
		</user>
	</category>
</root>